<div class="container">
    <div class="row border border-2 p-2 rounded text-primary">
        100+ bought in past month
    </div>
    <div class="row">
        <a>Shop name</a>
    </div>
    <div class="row">
        Product name
    </div>
    <div class="row">
        <div class="col-6">
            product price
        </div>
        <div class="col-6">
            reviews
        </div>
    </div>
    <div class="row">
        img
    </div>
</div>