@model IEnumerable<Product>

    <h1>Serch</h1>

@* <div class=" container">
    <div class="row">
        @foreach (var item in Model)
        {
            <a style="text-decoration:none" ; color: black; asp-controller="Product" asp-action="Show" asp-route-id="@item.Id">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img src="@item.ImageURL" style="width:50px" class="rounded-circle" />

                            </div>

                            <div class="col-10">
                                <div class="card-title">@item.Name</div>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div> *@
