@model List<Product>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Shop Name</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Shop Location</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var product in Model)
            {
                <tr>
                    <th scope="row">#</th>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                    <td>
                        <a asp-controller="Product" asp-action="Show" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
