@model IEnumerable<Product >

    result


<div class=" container">
    <div class="row">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Show", "Product", new { area = "Shopkeeper", id = item.Id })" style="color: black;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img src="@item.ImageURL" style="width:50px" class="rounded-circle" />
                            </div>

                            <div class="col-10">
                               
                                <div class="card-title">@item.Name</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div> 