@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center" style="margin-top: 80px; font-size: 24px; line-height: 24px; font-weight: 800;"><div><i class="bi bi-radar" style="font-size: 30px;"></i> Shopiround</div></div>
<div class="row mt-4 ms-1 me-1 border border-1 rounded pt-3">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="fs-4 fw-bold">Create new account</div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" placeholder="mubtashim abrar" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <div class="d-flex justify-content-between mt-3 mb-1">
                <p>
                    <a class="text-decoration-underline" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                </p>
                <p>
                    <a class="text-decoration-underline" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already user? Log in</a>
                </p>
            </div>
        </form>
    </div>
</div>
        </div>
<partial name="_Footer" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
